.card {
  border: 1px solid #f3f3f3;
  padding: 20px;
  width: 220px;
  border-radius: 40px;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  h5 {
    font-weight: 400;
    font-size: 14px;
  }
  span {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 13px;
  }

  b {
    font-size: 13px;
  }
  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }
  .favourite {
    position: absolute;
    cursor: pointer;
  }
}
